@use 'variables' as *;

@mixin mq($break) {
  @if ($break == 'min') {
    @media (max-width: map-get($breakpoints, $break)) {
      @content;
    }
  } @else {
    @media (min-width: map-get($breakpoints, $break)) {
      @content;
    }
  }
}

@mixin flexo( $flex: flex,
              $just: null,
              $align: null,
              $dir: null,
              $wrap: null,
              $gap: null,) {
  display: $flex;
  justify-content: $just;
  align-items: $align;
  flex-direction: $dir;
  flex-wrap: $wrap;
  gap: $gap;
}

@mixin grido( $clmns: null, 
              $rows: null, 
              $areas: null, 
              $gap: null) {
  display: grid;
  grid-template-columns: $clmns;
  grid-template-rows: $rows;
  grid-template-areas: $areas;
  gap: $gap;
}