// media query breakpoints
$breakpoints: (
  'min': 320px,
  'sm': 481px,
  'med': 768px,
  'lg': 1024px,
  'xl': 1200px
); 

// length of page between primary sections
$breakLength: 300px;

// colors
$color-bg: #f4e3cf; 
$color-primary: #0b1c30;

$color-secondary: #3772ff;
$color-tertiary: #275dad;
$color-mattered: #d68078;


