/*----------------------------------
About Page Layout
----------------------------------*/

@use "../util" as *;

.about-container {
  position: relative;
  overflow: hidden;
  @include flexo(
    flex,
    center,
    center,
  );
  margin-top: 50px;
}

.about-text-container {
  @include flexo(
    flex,
    center,
    center,
    column,
    $gap: 10px
  );
}

.about-text-container, .about-img {
  flex: 1;
}

.about-text-container {
  max-width: 600px;
  text-align: justify;
}

.about-anim {
  max-width: 70%;
}

.about-text {
  background-color: rgba(220, 220, 220, .45);
  box-shadow: 0 0 15px 10px rgba(220, 220, 220, .45);
  border-radius: 10px;
}

.about-p1, .about-p2 {
  font-size: 1.2em;
  letter-spacing: .05em;
  padding: 5px;
}

.about-p1 {
  padding-bottom: 0;
}

.about-img {
  position: absolute;
  z-index: -1;
  width: 100%;
  min-width: 450px;
  max-width: 850px;
  transform: scaleX(-1) translateX(20px);
  opacity: 25%;
}

.about-line {
  height: 6px;
}

.socials-container {
  @include flexo(
    flex, 
    center, 
    center,
    $gap: 10px
  );
}

.social-icon {
  width: 45px;
  height: 45px;
}

.resume-btn {
  @include flexo(
    flex,
    center,
    center
  );
  font-family: caslon-bold, sans-serif;
  font-size: 1.4em;
  height: 35px;
  padding: .5em;
  text-decoration: none;
  color: black;
  // background-image: url('/img/header/btns/btn-anim.png');
  // background-position: center;
  // background-size: cover;
}

.skills-list {
  text-align: center;
  margin: 0 auto;
  @include grido(
    repeat(6, 50px),
    repeat(2, 80px),
  );
}

.skill {
  grid-column-end: span 2;
  &:nth-child(4) {
    grid-column-start: 2;
  }
}

.skill-text {
  font-family: caslon-bold, sans-serif;
  font-size: 1.1em;
  letter-spacing: .04em;
}


.stray-icon {
  margin: 0 auto;
  max-height: 48px;
}

@include mq('med') {
  .about-container {
    margin-top: 65px;
  }
  .about-anim {
    max-width: initial;
  }
}

@include mq('lg') {
  .about-container {
    margin-top: 70px;
    margin-left: 50px;
    margin-right: 50px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .about-text-container {
    align-items: flex-start;
    gap: 20px;
  }

  .about-img {
    position: initial;
    opacity: 1;
  }

  .about-text {
    background-color: initial;
    box-shadow: none;
  }

  .about-p1, .about-p2 {
    font-size: 1.5em;
    background: none;
    color: initial;
  }

  .skills-list {
    text-align: center;
    margin: 0 auto;
    @include flexo(
      flex,
      flex-start,
      center,
      $gap: 20px
    );
  }

  .skills-list {
    margin: initial;
  }

  .skill {
    min-width: 48px;
  }
}