/*----------------------------------
About Page Layout
----------------------------------*/

@use "../util" as *;

#about-page {
  position: relative;
  overflow: hidden;
  caret-color: transparent;
  @include flexo(
    flex,
    center,
    center,
  );
}

.abt-txt-container {
  text-align: justify;
  max-width: 600px;
  @include flexo(
    flex,
    center,
    center,
    column,
    $gap: 10px
  );
}

.abt-txt-container, .abt-img {
  flex: 1;
}

.abt-anim {
  max-width: 70%;
}

.abt-text {
  caret-color: initial;
  background-color: rgba(220, 220, 220, .65);
  box-shadow: 0 0 15px 10px rgba(220, 220, 220, .65);
  border-radius: 10px;
}

.abt-p1, 
.abt-p2 {
  font-size: 1.1em;
  letter-spacing: .05em;
  padding: 5px;
}

.abt-p1 {
  padding-bottom: 0;
}

.abt-img {
  position: absolute;
  z-index: -1;
  width: 100%;
  min-width: 450px;
  max-width: 850px;
  transform: scaleX(-1) translateX(10px);
  opacity: 25%;
}

.abt-line {
  height: 6px;
}

.socials-container {
  @include flexo(
    flex, 
    center, 
    center,
    $gap: 15px
  );
}

.social-icon svg {
  width: 40px;
  height: 40px;
  padding: 0;
  &:hover {
    fill: $color-secondary;
    color: $color-secondary;
    transition: fill .2s ease-out,
                color .2s ease-out;
  }
}

.resume-container {
  position: relative;
  height: 40px;
  @include flexo(
    flex,
    center,
    center
  );
}

.resume-link {
  position: relative;
  text-decoration: none;
  color: black;
  font-size: 1.4em;
  padding: 5px;
  z-index: 1;
  &:hover {
    color: ghostwhite;
    opacity: .9;
    transition: color .3s;
  }
}

.resume-anim {
  display: none;
  pointer-events: none;
  position: absolute;
  width: 110px;
  height: 80px;
  opacity: .7;
  background-image: url('/img/header/btns/btn-anim.png');
  background-position: center;
  background-size: cover;
}

.show-resume {
  display: block;
}

.skills-list {
  text-align: center;
  margin: 0 auto;
  row-gap: 10px;
  @include grido(
    repeat(6, 50px),
    1fr 1fr
  );
}

.skill {
  grid-column-end: span 2;
  &:nth-child(4) {
    grid-column-start: 2;
  }
}

.skill-text {
  letter-spacing: .05em;
}

.fa-brands {
  font-size: 2.5em;
}

.stray-icon {
  padding: 0;
  margin: 0 auto;
  height: 40px;
}

@include mq('med') {

  .about-anim {
    max-width: initial;
  }

  .skills-list {
    grid-template-columns: repeat(6, 70px)
  }

  .fa-brands {
    font-size: 3em;
  }

  .skill-text {
    font-size: 1.2em;
  }
  
  .stray-icon {
    margin: 0 auto;
    height: 48px;
  }
}

@include mq('lg') {
  #about-page {
    padding-left: 20px;
    padding-right: 20px;
  }

  .abt-txt-container {
    align-items: flex-start;
    gap: 20px;
  }

  .abt-img {
    position: initial;
    opacity: 1;
  }

  .abt-text {
    background-color: initial;
    box-shadow: none;
  }

  .abt-p1, .abt-p2 {
    font-size: 1.5em;
    background: none;
    color: initial;
  }

  .skills-list {
    text-align: center;
    margin: 0 auto;
    @include flexo(
      flex,
      flex-start,
      center,
      $gap: 20px
    );
  }

  .skills-list {
    margin: initial;
  }

  .skill {
    min-width: 48px;
  }
}