/*----------------------------------
Border Element Layout
----------------------------------*/

@use "../util" as *;

// Absolutely positioned border elements
#brdr-container,
.brdr-t,
.brdr-b,
.brdr-l,
.brdr-r,
.brdr-tl,
.brdr-tr,
.brdr-br,
.brdr-bl {
  position: absolute;
}

#brdr-container {
  overflow-x: hidden;
  width: 100%;
  height: 100%;

  // background parchment paper which is
  // a seamless pattern
  background-image: url('/img/border/bg.png');
  background-size: contain;
  z-index: -10;
}

.brdr {
  height: 50px;
  background-image: url('/img/border/brdr.png');
  background-size: contain;
}

.brdr-l,
.brdr-r {
  display: none;
}

.brdr-t {
  top: 0;
  left: 50%;
  transform: translateX(calc(-50% + 10px));
  width: 110%;
  min-width: 800px;
  background-position: center;
}

.brdr-b {
  bottom: 0;
  left: 50%;
  transform: translateX(calc(-50% + 10px));
  width: 110%;
  min-width: 800px;
  background-position: center;
}

.brdr-l {
  transform-origin: 0% 100%;
  top: -50px;
  left: 0;
  width: calc((100vh * 5) + ($breakLength * 4));
  transform: rotate(90deg);
  background-position: left;
}

.brdr-r {
  transform-origin: 100% 100%;
  top: -50px;
  right: 0;
  width: calc((100vh * 5) + ($breakLength * 4));
  transform: rotate(-90deg);
  background-position: right;
}

.brdr-c {
  display: none;
  max-width: 350px;
}

.brdr-tl {
  top: 0;
  left: 0;
  transform: scaleX(-1);
}

.brdr-tr {
  top: 0;
  right: 0;
}

.brdr-br {
  bottom: 0;
  right: 0;
  transform: scaleX(-1);
}

.brdr-bl {
  bottom: 0;
  left: 0;
}

@include mq('med') {
  .brdr-c,
  .brdr-l,
  .brdr-r {
    display: initial;
  }

}

@include mq('xl') {
  .brdr-c {
    max-width: 425px; 
  }
}

// media query that checks for mobile/tablets
// in landscape mode
@media screen and (max-width: 768px) and (orientation: landscape) {

  .brdr-l,
  .brdr-r {
    display: initial;
  }

  .brdr-t,
  .brdr-b {
    display: none;
  }
}