/*----------------------------------
Border Element Layout
----------------------------------*/

@use "../util" as *;

// absolute positioning

.brdr-container,
.bg-pattern,
.brdr-top,
.brdr-bottom,
.brdr-left,
.brdr-right,
.brdr-topleft,
.brdr-topright,
.brdr-bottomright,
.brdr-bottomleft {
  position: absolute;
}

.brdr-container {
  overflow-x: hidden;
  width: 100%;
  height: calc((100vh * 5) + ($breakLength * 4));
  background-image: url('img/border/bg.png');
  background-size: 100%;
  z-index: -20;
}


.brdr-left,
.brdr-right {
  display: none;
}

.brdr {
  height: 50px;
  background-image: url('img/border/brdr.png');
  background-size: contain;
}

.brdr-top {
  top: 0;
  left: 50%;
  transform: translateX(calc(-50% + 10px));
  width: 110%;
  min-width: 800px;
  background-position: center;
}

.brdr-bottom {
  bottom: 0;
  left: 50%;
  transform: translateX(calc(-50% + 10px));
  width: 110%;
  min-width: 800px;
  background-position: center;
}

.brdr-left {
  transform-origin: 0% 100%;
  top: -50px;
  left: 0;
  width: calc((100vh * 5) + ($breakLength * 4));
  transform: rotate(90deg);
  background-position: left;
}

.brdr-right {
  transform-origin: 100% 100%;
  top: -50px;
  right: 0;
  width: calc((100vh * 5) + ($breakLength * 4));
  transform: rotate(-90deg);
  background-position: right;
}

.brdr-corner {
  display: none;
  max-width: 350px;
}

.brdr-topleft {
  top: 0;
  left: 0;
  transform: scaleX(-1);
}

.brdr-topright {
  top: 0;
  right: 0;
}

.brdr-bottomright {
  bottom: 0;
  right: 0;
  transform: scaleX(-1);
}

.brdr-bottomleft {
  bottom: 0;
  left: 0;
}

@include mq('med') {
  .brdr-corner,
  .brdr-left,
  .brdr-right {
    display: initial;
  }

}

@include mq('xl') {
  .brdr-corner {
    max-width: 425px; 
  }
}

@media screen and (max-width: 768px) and (orientation: landscape) {

  .brdr-left,
  .brdr-right {
    display: initial;
  }

  .brdr-top,
  .brdr-bottom {
    display: none;
  }
}