/*----------------------------------
Navigation Layout
----------------------------------*/

@use "../util" as *;

header {
  position: absolute;
  overflow: hidden;
  @include flexo(
    flex,
    space-between,
    center
  );
  width: 100%;
  min-height: 50px;
  top: calc(100vh + $breakLength);
  padding: 10px;
  z-index: 20;
  border-radius: 10px;
}

.sticky-header {
  position: fixed;
  top: 0;
}

.navigation-container {
  position: absolute;
  @include flexo(
    flex,
    center,
    center,
    $gap: 3px
  );
}

.show-nav {
  left: 50%;
  transform: translateX(-50%);
  right: initial;
}

.hide-nav {
  right: -360px;
  // transition: right .3s ease-out;
  .hamburger {
    margin-right: 100px;
    // transition: margin-right .3s ease-out;
  }
}

.name-container img {
  height: 25px;
}

.full-name {
  display: none;
}

.show-name {
  opacity: 1;
  transition: opacity .2s ease-out;
}

.fade-name {
  opacity: 0;
  transition: opacity .2s ease-out;
}

@include mq('sm') {
  .navigation-container {
    gap: 10px;
  }

  .hide-nav {
    right: -388px;
  }
}

@include mq('med') {
  header {
    width: calc(100% - 90px);
    padding: 10px;
    margin: 0 50px;
  }

  .hide-nav {
    right: -437px;
  }

  .name-container img {
    height: 45px;
  }

  .full-name {
    display: none;
  }

  .half-name {
    display: block;
  }
}

@include mq('lg') {
  .half-name {
    display: none;
  }
  .full-name {
    display: block;
  }

  .navigation-container {
    position: relative;
    top: initial;
    right: 10px;
  }

  .show-nav {
    left: initial;
    transform: initial;
  }

  .hamburger {
    display: none;
  }
}

@media screen and (max-width: 768px) and (orientation: landscape) {
  header {
    width: calc(100% - 130px);
    margin: 0 60px;
  }
}