/*----------------------------------
Navigation Layout
----------------------------------*/

@use "../util" as *;

header {
  position: absolute;
  @include flexo(
    flex,
    space-between,
    center
  );
  // background-color: lightgreen;
  width: 100%;
  padding: 0 20px;
  height: 75px;
  top: 100vh;
}

.sticky-header {
  position: fixed;
  top: 0;
}

.name-container img {
  display: none; // while making btns
  height: 40px;
}

.full-name, 
.half-name {
  display: none;
}

@include mq('med') {
  header {
    padding: 0 55px;
  }
  .full-name, 
  .short-name {
    display: none;
  }
  .half-name {
    display: block;
  }
}

@include mq('lg') {
  .half-name, 
  .short-name {
    display: none;
  }
  .full-name {
    display: block;
  }
}