/*----------------------------------
land Page 
----------------------------------*/

@use "../util" as *;

#landing-page {
  overflow: hidden;
  position: relative;
  caret-color: transparent;
  @include flexo(
    flex,
    center,
    center,
  );
  padding: 0 20px;
}

.land-txt-container {
  position: relative;
  display: none;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column; 
}

@keyframes appear {
  0% {
    transform: translateY(-75%);
    filter: blur(2px);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.land-txt-container, .land-img {
  flex: 1;
}

.land-name {
  width: 100%;
}

.land-text {
  font-size: 1em;
  letter-spacing: .05em;
  margin-right: 15px;
  opacity: 0;
  animation: appear .75s 3s forwards ease-out;
}

.land-img {
  position: absolute;
  flex-grow: 1.2;
  min-width: 500px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 22%;
}

@include mq('sm') {
  .land-text {
    font-size: 1.5em;
  }
}

@include mq('med') {
  #landing-page {
    padding: 0 20px;
    margin: 0 50px;
  }

  .scroll-text {
    font-size: 1.4em;
    &::before,
    &::after {
      width: 20px;
      height: 20px;
    }
  }
}

@include mq('lg') {
  .land-img {
    position: initial;
    left: initial;
    transform: translateX(0);
    opacity: 1;
  }

  .land-text {
    font-size: 1.7em;
  }
}

@include mq('xl') {
  .land-text {
    font-size: 2em;
  }
}

// mq for phone and tablet screen orientation change
@media screen and (max-width: 768px) and (orientation: landscape) {
  #landing-page {
    padding: 0 70px;
  }
}