/*----------------------------------
Landing Page 
----------------------------------*/

@use "../util" as *;

.landing-container {
  overflow: hidden;
  position: relative;
  caret-color: transparent;
  @include flexo(
    flex,
    center,
    center,
  );
  padding: 0 20px;
}

.landing-text-container {
  display: none;
  position: relative;
  @include flexo(
    flex,
    center,
    flex-end,
    column
  ); 
}

@keyframes appear {
  0% {
    transform: translateY(-75%);
    filter: blur(2px);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.landing-text-container, .landing-img {
  flex: 1;
}

.landing-name {
  width: 100%;
}

.landing-text {
  font-size: 1em;
  letter-spacing: .05em;
  margin-right: 15px;
  opacity: 0;
  animation: appear .75s 3s forwards ease-out;
}

.landing-img {
  position: absolute;
  flex-grow: 1.2;
  min-width: 500px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 22%;
}

.indicator1 {
  position: absolute;
  bottom: 100px; 
}

.indicator-text1 {   
  display: none;
  opacity: 0;
  animation: appear .6s 4s forwards ease-out;
  font-size: 1.1em;
  letter-spacing: .1em;
  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background-image: url('img/header/scroll-detail.png');
    background-size: contain;
  }
  &::before {
    transform: scaleX(-1) translateX(calc(100% + 5px));
  }
  &::after {
    transform: translateX(5px);
  }
}

.indicator-arrow1 {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -35%) scale(1.5);
  z-index: -1;
}

@include mq('sm') {
  .landing-text {
    font-size: 1.5em;
  }
}

@include mq('med') {
  .landing-container {
    padding: 0 20px;
    margin: 0 50px;
  }

  .scroll-text {
    font-size: 1.4em;
    &::before,
    &::after {
      width: 20px;
      height: 20px;
    }
  }
}

@include mq('lg') {
  .landing-img {
    position: initial;
    left: initial;
    transform: translateX(0);
    opacity: 1;
  }

  .landing-text {
    font-size: 1.7em;
  }
}

@include mq('xl') {
  .landing-text {
    font-size: 2em;
  }
}

// mq for phone and tablet screen orientation change
@media screen and (max-width: 768px) and (orientation: landscape) {
  .landing-container {
    padding: 0 70px;
  }
}