/*----------------------------------
Landing Page 
----------------------------------*/

@use "../util" as *;

.landing-container {
  overflow: hidden;
  position: relative;
  caret-color: transparent;
  @include flexo(
    flex,
    center,
    center,
  );
  padding: 0 20px;
}

.landing-text-container {
  background: inherit;
  @include flexo(
    flex,
    center,
    flex-end,
    column
  ); 
}

.landing-img {
  position: absolute;
  min-width: 500px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 22%;
}

.landing-text {
  font-size: 1.1em;
  letter-spacing: .05em;
  margin-right: 15px;
}

.scroll-indicator {
  position: absolute;
  bottom: 50px;
}

@include mq('sm') {
  .landing-text {
    font-size: 1.5em;
  }
}

@include mq('med') {
  .landing-container {
    padding: 0 20px;
    margin: 0 50px;
  }
}

@include mq('lg') {
  .landing-img {
    position: initial;
    min-width: 300px;
    left: initial;
    transform: translateX(0);
    opacity: 1;
  }

  .landing-text {
    font-size: 1.7em;
  }
}

@include mq('xl') {
  .landing-text {
    font-size: 2em;
  }
}

// mq for phone and tablet screen orientation change
@media screen and (max-width: 768px) and (orientation: landscape) {
  .landing-container {
    padding: 0 70px;
  }
}