/*----------------------------------
Main Grid Layout
----------------------------------*/

@use "../util" as *;

main {
  @include grido(
    100%,
    repeat(5, 100vh)
  );
}

.landing-container {
  border-bottom: 2px solid red;
}

.about-container {
  border-bottom: 2px solid blue;
}

.projects-container {
  border-bottom: 2px solid green;
}

.components-container {
  border-bottom: 2px solid purple;
}