/*----------------------------------
Main Grid Layout
----------------------------------*/

@use "../util" as *;

main {
  width: 100%;
  @include grido(
    100%,
    100vh $breakLength 
    100vh $breakLength 
    100vh $breakLength 
    100vh $breakLength 100vh
  );

  .content-section {
    padding: 10px;
  }
}

.break-section {
  background-color: lightgreen;
  opacity: 50%;
}

// @include mq('med') {
//   section {
//     padding-left: 60px;
//     padding-right: 60px;
//   }
// }