/*----------------------------------
Main Grid Layout
----------------------------------*/

@use "../util" as *;

main {
  width: 100%;
  @include grido(
    100%,
    100vh $breakLength 
    100vh $breakLength 
    100vh $breakLength 
    100vh $breakLength 
    100vh
  );
}

.break-section {
  pointer-events: none;
  caret-color: transparent;
  @include flexo(
    flex,
    space-between,
    center
  );
}

.break-graphic2 {
  display: none;
}

.content-section {
  margin-top: 50px;
  padding: 15px;
  &:first-child {
    margin-top: 0;
  }
}

@include mq('med') {
  .content-section {
    margin: 65px 50px 0;
    padding: 25px;
  }
  .break-section {
    margin: 0 50px;
  }
}

@include mq('lg') {
  .content-section {
    margin-top: 70px;
  }
  .break-graphic2 {
    display: block;
  }
}

// @include mq('xl') {
//   .content-section {

//   }
// }