/*----------------------------------
Base Layout of Project Sections
----------------------------------*/

@use "../util" as *;

#projects-page {
  position: relative;
  @include flexo(
    flex,
    flex-start,
    center,
    column,
    $gap: 10px
  );
}

.proj-anim {
  height: 45px;
}

.abt-line {
  width: 100%;
  pointer-events: none;
}

.section-desc {
  font-size: 1.2em;
}

.proj-title-1,
.proj-title-2 {
  width: 100%;
  @include flexo(
    flex,
    center,
    center,
    column, 
    $gap: 5px 
  );
}

.proj-title-2 {
  flex-direction: column-reverse;
}

.proj-1-list,
.proj-2-list {
  position: relative;
  width: 100%;
  margin-top: 10px;
  border-top: 5px solid rgba(0,0,0,.7);
  border-bottom: 5px solid rgba(0,0,0,.7);
  box-shadow: 0 0 10px 5px rgba(0,0,0,.7);   
  border-radius: 3px;
  @include flexo(
    flex,
    center,
    center
  );
}

.proj-text {
  opacity: 0;
  text-align: left;
  letter-spacing: .03em;
  position: absolute;
  pointer-events: none;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 18vh);
}

h4 {
  margin: 5px 0;
}

.proj-name {
  margin-bottom: 0;
}

.proj-desc, .proj-bullet {
  font-size: 1.1em;
}

.proj-bullet-list {
  list-style: circle;
  @include grido(
    1fr 1fr,
    auto
  );
}

.proj-bullet {
  margin-left: 25px;
  margin-bottom: 5px;
}

@include mq('med') {
  .proj-anim {
    height: 60px;
  }
  .proj-1-list,
  .proj-2-list {
    margin-top: 20px;
  }
}

@include mq('lg') {
  .proj-title-1,
  .proj-title-2 {
    width: 100%;
    @include flexo(
      flex,
      space-between,
      flex-end,
      row, 
      $gap: 0
    );
  }

  .proj-anim {
    height: 70px;
  }

  .proj-1-list {
    box-shadow: 0 0 15px 10px rgba(0,0,0,.7);   
  }

  .proj-text, .section-desc {
    font-size: 1.6em;
  }

  .proj-text {
    transform: translate(-50%, 25vh);
    
  }
}

@include mq('xl') {
  .proj-title-1,
  .proj-title-2,
  .abt-line,
  .proj-1-list,
  .proj-2-list {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
}