/*----------------------------------
Projects Page Layout
----------------------------------*/

@use "../util" as *;

.projects-container {
  margin-top: 50px;
  overflow: hidden;
  @include flexo(
    flex,
    flex-start,
    center,
    column,
    $gap: 10px
  );
}

.proj-text {
  display: none;
}

.proj-img-1 {
  background-image: url('/img/projects/directory.png');
  background-size: cover;
  background-position: top left;
}
.proj-img-2 {
  background-image: url('/img/projects/wordgame.png');
  background-size: cover;
  background-position: bottom center;
}
.proj-img-3 {
  background-image: url('/img/projects/dashboard.png');
  background-size: cover;
  background-position: top right;
}

.projects-list {
  width: 100%;
  overflow-x: scroll;
  @include flexo(
    flex,
    center,
    center
  );
  &:hover > .project:not(:hover) {
    opacity: .6;
  }

  &:focus > .project:not(:focus) {
    opacity: .6;
  }
}

.project {
  flex-grow: 1;
  flex-basis: 0;
  transition: flex-grow .4s ease-out;
  &:hover {
    flex-grow: 10;
    transition: flex-grow .5s ease-out;
  }
}

.proj-img {
  width: 100%;
  height: 50vh;
}

@include mq('med') {
  .projects-container {
    margin-left: 50px;
    margin-right: 50px;
  }
}

// .projects-container {
//   margin-top: 50px;
//   overflow: hidden;
//   // position: relative;
//   @include flexo(
//     flex, 
//     flex-start,
//     center,
//     column,
//     $gap: 10px
//   );
// }

// .project-anim {
//   height: 45px;
// }

// .projects-list {
//   overflow-x: scroll;
//   overflow-y: hidden;
//   max-width: 100%;
//   @include flexo(
//     flex,
//     flex-start,
//   );
//   -ms-overflow-style: none;  /* IE and Edge */
//   scrollbar-width: none;  /* Firefox */
// }

// /* Hide scrollbar for Chrome, Safari and Opera */
// .projects-list::-webkit-scrollbar {
//   display: none;
// }

// .project {
//   min-width: 100%;
//   flex-grow: 1;
//   flex-basis: 0;
// }

// .proj-img {
//   height: 35vh;
//   background-size: cover;
// }

// .proj-text {
//   margin: 20px auto 0;
//   max-width: 400px;
// }

// .proj-desc, .proj-bullet {
//   font-size: 1.1em;
// }

// .proj-desc {
//   padding: 5px 0;
// }

// .proj-img {
//   margin: 0 auto;
//   max-width: 400px;
// }

// .proj-bullet-list {
//   list-style: circle;

//   @include grido(
//     1fr 1fr,
//     auto
//   );
// }

// .proj-bullet {
//   margin-left: 25px;
// }



// .proj-nav {
//   margin-top: auto;
//   min-width: 100px;
//   caret-color: transparent;
//   @include flexo(
//     flex,
//     space-between,
//     center
//   );
// }

// .nav-arrow {
//   display: block;
//   font-size: 2em;
// }
// .page {
//   font-size: .7em;
//   opacity: 60%;
// }

// @include mq('sm') {
//   .project-anim {
//     height: 60px;
//   }
// }

// @include mq('med') {
//   .projects-container {
//     margin-left: 50px;
//     margin-right: 50px;
//   }

//   .project-anim {
//     height: initial;
//   }

// }

// @include mq('lg') {
//   .projects-container {
//     align-items: flex-start;
//     margin: 70px 50px 0;
//   }
// }

// @include mq('xl') {

// }