/*----------------------------------
Button Components
----------------------------------*/

@use "../util" as *;

.btn { 
  position: relative;
  & > * {
    pointer-events: none;
    caret-color: transparent;
  }
  &:hover {
    .btn-cont {
      font-size: 1em;
      font-weight: bold;
      transition: font-size .4s ease-out;
    }
  }
}

.stroke-anim {
  display: none;
  position: absolute;
  min-width: 110px;
  min-height: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -10;
}

.btn-cont {
  overflow: hidden;
  position: relative;
  background-size: cover;
  background-position: center;
  
  @include flexo(
    flex,
    center,
    center);
  width: 77px;
  height: 40px;
  font-size: .8em;
}

.btn-flex {
  position: absolute;
  @include flexo(
    flex, 
    center, 
    center
  );
}

.btn-text {
  padding-top: 4px;
}

.home-cont {
  background-image: url('/img/header/btns/btn-brdr-1.png');
}

.about-cont {
  background-image: url('/img/header/btns/btn-brdr-2.png');
}

.work-cont {
  background-image: url('/img/header/btns/btn-brdr-1.png');
}

.contact-cont {
  background-image: url('/img/header/btns/btn-brdr-2.png');
}

.detail-l,
.detail-r {
  width: 100px;
  height: 50px;
  background-size: cover;
}

.detail-l {
  background-image: url('/img/header/btns/btn-details-1.png');
  margin-right: -32px;
}

.detail-r {
  background-image: url('/img/header/btns/btn-details-2.png');
  transform: scale(-1);
  margin-left: -32px;
}

svg {
  display: block;
  padding: 5px;
  min-width: 30px;
  min-height: 30px;
}

.moon-svg {
  display: none;
}

@include mq('med') {
  .btn-cont {
    width: 95px;
    height: 50px;
  }
  .stroke-anim {
    min-width: 140px;
    min-height: 90px;
  }
}