/*----------------------------------
Modal
----------------------------------*/

@use "../util" as *;

dialog {
  display: none;
  @include flexo(
    null,
    center,
    center,
    column,
    $gap: 10px
  );
  background-image: url('../img/border/bg.png');
  background-size: cover;
  border-radius: 10px;
}

dialog::backdrop {
  background-color: rgba(0,0,0,.6);
}

.confirm-header {
  font-size: 2.5em;
}

.confirm-text,
.close-modal-btn {
  font-size: 1.5em;
}

.close-modal-btn {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: rgba(248,248,255,.6);
  transition: background-color .2s ease-out;
  padding: .3em .5em;
  border-radius: 10px;
  &:hover,
  &:focus {
    color: ghostwhite;
    background-color: $color-secondary;
    transition: background-color .2s ease-out;
  }
}
