/*----------------------------------
Night Theme Overlay
----------------------------------*/

@use "../util" as *;

.body-theme {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: calc((100vh * 5) + ($breakLength * 4));
  z-index: 60;
  background-color: #fff;
  mix-blend-mode: difference;
}

.show-theme-overlay {
  opacity: 1;
  transition: opacity .3s ease-out;
}

.hide-theme-overlay {
  opacity: 0;
  transition: opacity .3s ease-out;
}