/*----------------------------------
Projects Background Images
----------------------------------*/

@use "../util" as *;

.proj-1 {
  background-image: url('/img/projects/directory.png');
  background-size: cover;
  background-position: top left;
}
.proj-2 {
  background-image: url('/img/projects/wordgame.png');
  background-size: cover;
  background-position: bottom center;
}
.proj-3 {
  background-image: url('/img/projects/dashboard.png');
  background-size: cover;
  background-position: top right;
}

.proj-4 {
  background-image: url('/img/projects/gallery.png');
  background-size: cover;
  background-position: top left;
}
.proj-5 {
  background-image: url('/img/projects/guide.png');
  background-size: cover;
  background-position: top center;
}
.proj-6 {
  background-image: url('/img/projects/registration.png');
  background-size: cover;
  background-position: top center;
}
.proj-7 {
  background-image: url('/img/projects/responsive.png');
  background-size: cover;
  background-position: top center;
}
.proj-8 {
  background-image: url('/img/projects/profile.png');
  background-size: cover;
  background-position: top right;
}




