/*----------------------------------
Base Styling
----------------------------------*/

@use "../util" as *;

html {
  background-color: $color-primary;
}

body {
  position: relative;
  overflow-x: hidden; 
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  &::-webkit-scrollbar {
    display: none;
  }
}

// general responsive graphics
img, svg {
  display: block;
  max-width: 100%;
  height: auto;
}