/*----------------------------------
Typography
----------------------------------*/

@use "../util" as *;

@font-face {
  font-family: caslon-reg;
  src: url("/fonts/caslon-antique.regular.ttf");
}

@font-face {
  font-family: caslon-bold;
  src: url("/fonts/caslon-antique.bold.ttf");
}

@font-face {
  font-family: caslon-italic;
  src: url("/fonts/caslon-antique.italic.ttf");
}

@font-face {
  font-family: caslon-bolditalic;
  src: url("/fonts/caslon-antique.bolditalic.ttf");
}