/*----------------------------------
Typography
----------------------------------*/

@use "../util" as *;

@font-face {
  font-family: caslon-reg;
  src: url("/fonts/caslon-antique.regular.ttf");
}

* {
  font-family: caslon-reg, sans-serif;
  color: $color-primary;
  caret-color: transparent;
}